{% extends '/empleados/layout.html' %}

{% block body %}

<!-- <div class="col-md-4">
    <div class="card card-body">
        <h2>Editar empleado</h2>
        <form action="/actualizar/{{ empleado.0 }}" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="id" class="form-label">Id</label>
                <input type="text" class="form-control" id="id" name="id" value="{{ empleado.0 }}">
            </div>
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" value="{{ empleado.1 }}">
            </div>
            <div class="mb-3">
                <label for="correo" class="form-label">Correo</label>
                <input type="text" class="form-control" id="correo" name="correo" value="{{ empleado.2 }}">
            </div>
            <div class="mb-3">
                <label for="foto" class="form-label">Foto</label>
                {{ empleado.3 }}
                <input type="file" class="form-control" id="foto" name="foto">
                </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div> -->

{% endblock %}